{% load staticfiles %}

<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Секрет Чистоты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/menu/menu.css' %}" />
    <style type="text/css">
        html {
            background: url('{% static "static/images/back.jpg" %}') no-repeat fixed;
        }
    </style>

</head>

<body>

<nav>

        <ul class="ca-menu">
            <li>
                <a href="#">
                    <span class="ca-icon">.</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Главная</h2>
                        <h3 class="ca-sub">акции и новости</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon">U</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Часные лица</h2>
                        <h3 class="ca-sub">услги и их описание</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon" id="heart">p</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Организации</h2>
                        <h3 class="ca-sub">услги и их описание</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="ca-icon">S</span>
                    <div class="ca-content">
                        <h2 class="ca-main">Производства</h2>
                        <h3 class="ca-sub">услги и их описание</h3>
                    </div>
                </a>
            </li>
        </ul>

</nav>

<div id="content">
    {% block content %} {% endblock %}
</div>



<footer>
    ООО "Секрет чистоты" 2014 год
</footer>

</body>

</html>